---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div id="website-container">
      <img src="https://source.unsplash.com/random/?chuck-norris" />
    </div>
  </body>
</html>

<style>
  #website-container {
    display: flex;
    justify-content: center;
  }

  #website-image {
    width: auto;
    height: auto;
  }
</style>
